:root {
    --cor-preto: #000000; 
    --cor-cinza-claro: #B0B0B0; 
    --cor-cinza-escuro: #38362B; 
    --cor-cinza-nav: #8b8e91;
    --cor-prata: #C0C0C0; 
    --cor-branco-quente: #F4F1EB; 
    --cor-branco-gelo: #F5F5F5; 
    --cor-logo-primaria: #353327;
    --cor-logo-secundaria: #c2bdb0;
}

html {
    font-size: 18px;
}

body {
    font-size: 1rem;
    color: var(--cor-preto);
    background-color: var(--cor-branco-gelo);
    font-family: 'Open Sans', 'icones', sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cor-branco-quente); 
    color: var(--cor-branco-gelo);
    padding: 0.45rem 0.9rem;
    box-shadow: 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.16);
}

.cabecalho__menu {
    font-size: 2rem;
    color: var(--cor-preto);
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 3rem;
    height: 3rem; 
    padding: 0;
}

.icone-menu {
    background-image: url('../assets/icones/menu.svg');
    width: 2rem; 
    height: 2rem; 
    display: inline-block;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

.logo-mobile {
    width: 80%;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branco-quente);
    color: var(--cor-preto);
}

.offcanvas-header,
.offcanvas-body,
.menu-lateral__link {
    color: var(--cor-preto);
}

.offcanvas-header {
    margin: 1rem 0 0 2rem;
}

.offcanvas-header .btn-close {
    margin: 0;
    float: left;
    font-size: 1.2rem;
}

.btn-close {
    opacity: 1;
}

.offcanvas-links {
    margin: 4rem 0 2.5rem;
}

.menu-lateral__link {
    display: flex;
    align-items: center;
    line-height: 3rem;
    text-decoration: none;
}

.menu-lateral__link--ativo:active {
    color: var(--cor-logo-primaria);
    padding-left: 3rem;
    border-left: 0.5rem solid var(--cor-logo-primaria);
}

.icones-gerais {
    padding: 0.6rem;
    margin-left: 2rem;
    margin-right: 0.4rem;
    width: 1.3rem; 
    height: 1.3rem; 
    display: inline-block;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

.icone-home {
    background-image: url('../assets/icones/home.svg');
}

.icone-sobre {
    background-image: url('../assets/icones/sobre.svg');
}

.icone-servicos {
    background-image: url('../assets/icones/servicos.png');
}

.icone-projetos {
    background-image: url('../assets/icones/projetos.png');
}

.icone-contato {
    background-image: url('../assets/icones/contato.png');
}

.offcanvas-socialmedia {
    margin-left: 2rem ;
    margin-bottom: 1rem;
}

.text-socialmedia {
    margin-bottom: 0.4rem;
}

.socialmedia__link {
    align-items: center;
    text-decoration: none;
}

.icones-socialmedia {
    padding: 0.8rem;
    width: 1.3rem;
    display: inline-block;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

.facebook-socialmedia {
    margin-right: 0.1rem;
    background-image: url('../assets/icones/rede-facebook.svg')
}

.instagram-socialmedia {
    background-image: url('../assets/icones/rede-instagram.svg')
}

.menu-lateral__logo {
    width: 100%;
    margin-top: auto;
}