:root {
    --cor-preto: #000000; 
    --cor-cinza-claro: #B0B0B0; 
    --cor-cinza-escuro: #38362B; 
    --cor-cinza-nav: #8b8e91;
    --cor-prata: #C0C0C0; 
    --cor-branco-quente: #F4F1EB; 
    --cor-branco-gelo: #F5F5F5; 
    --cor-logo-primaria: #353327;
    --cor-logo-secundaria: #c2bdb0;
}

html {
    font-size: 18px;
}

body {
    font-size: 1rem;
    color: var(--cor-preto);
    background-color: var(--cor-branco-gelo);
    font-family: 'Open Sans', 'icones', sans-serif;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cor-branco-quente); 
    color: var(--cor-branco-gelo);
    padding: 0.45rem 0.9rem;
    box-shadow: 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.16);
}

.header__menu-btn {
    font-size: 2rem;
    color: var(--cor-preto);
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 3rem;
    height: 3rem; 
    padding: 0;
}

.menu-icon {
    background-image: url('../icons/icon-menu.svg');
    width: 2rem; 
    height: 2rem; 
    display: inline-block;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

.header__logo-mobile {
    width: 80%;
}

/* Menu Lateral Começo*/

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branco-quente);
    color: var(--cor-preto);
}

.offcanvas-header,
.sidebar__link {
    color: var(--cor-preto);
}

.offcanvas-header {
    padding: 0;
}

.offcanvas-header .btn-close {
    margin: 0;
    float: left;
    font-size: 1.2rem;
}

.btn-close {
    opacity: 1;
}

.offcanvas-body {
    justify-content: space-between;
}

.sidebar__link {
    display: flex;
    align-items: center;
    line-height: 2.5rem;
    text-decoration: none;
}

.icon {
    padding: 0.6rem;
    margin-left: 2rem;
    margin-right: 0.4rem;
    width: 1.3rem; 
    height: 1.3rem; 
    display: inline-block;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

.icon--home {
    background-image: url('../icons/icon-home.svg');
}

.icon--about {
    background-image: url('../icons/icon-about.svg');
}

.icon--services {
    background-image: url('../icons/icon-services.png');
}

.icon--projects {
    background-image: url('../icons/icon-projects.png');
}

.icon--contact {
    background-image: url('../icons/icon-contact.png');
}

.sidebar__social-media {
    margin-left: 2rem ;
    margin-bottom: 1rem;
}

.sidebar__social-text {
    margin-bottom: 0.4rem;
}

.social-media__link {
    align-items: center;
    text-decoration: none;
}

.social-icon {
    padding: 0.8rem;
    width: 1.3rem;
    display: inline-block;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

.social-icon--facebook {
    margin-right: 0.1rem;
    background-image: url('../icons/icon-facebook.svg')
}

.social-icon--instagram {
    background-image: url('../icons/icon-instagram.svg')
}

.sidebar__logo {
    width: 100%;
}

/* Menu Lateral Final*/

/* Main Começo*/

/* Main Final*/

/* Botão Whatsapp Começo*/
.whatsapp-btn {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #25d366;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
}

.whatsapp-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.whatsapp-btn__icon {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

/* Botão Whatsapp Final*/